.article-top-read {
    .img-wrap {
        margin-bottom: 8px;
    }

    .date {
        font-size: 14px;
    }

    .main-title {
        font-size: 18px;
        line-height: 24px;
    }

    .views {
        padding-left: 50px;
        color: #a4a6a7;
        font-size: 16px;
        line-height: 32px;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            width: 42px;
            height: 32px;
            background: url(../images/icons.png) no-repeat 0 0;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}