.article-featured {

    // kontener obrazka
    .img-wrap {
        position: relative;

        > a {
            display: block;
        }
    }

    // opis artykulu (na obrazku)
    .article-desc {
        position: absolute;
        left: 32px;
        bottom: 15px;
        z-index: 2;

        &:before {
            content: '';
            display: block;
            width: 3px;
            height: 98%;
            background: $kulisyRed;
            position: absolute;
            left: -15px;
            top: 6px;
        }

        .upline {
            margin: 0 0 10px;
            color: #c3c3c3;
            font-size: 18px;
        }

        .main-title {
            margin: 0 0 15px;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            font-size: 36px;
            line-height: 46px;
            text-transform: uppercase;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .author-info {
            .avatar-wrap {
                float: left;
            }

            .author-name {
                float: left;
                margin: 0 0 0 10px;
                color: #a4a6a7;
                line-height: 55px;
                text-style: italic;
            }
        }
    }

    // box z numerem artykulu
    .article-initial-num {
        width: 80px;
        height: 80px;
        background: $kulisyRed;
        color: #fff;
        text-align: center;
        overflow: hidden;

        span {
            font-family: 'Oswald', sans-serif;
            font-size: 48px;
            line-height: 80px;
        }
    }
}