.hot-topic {
    padding: 0 0 6px;
    border-bottom: 1px solid #d6d9db;

    .heading {
        display: inline-block;
        height: 32px;
        margin: 0;
        padding: 0 12px;
        background: $kulisyRed;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 21px;
        line-height: 32px;
        text-transform: uppercase;
        position: relative;
        top: 5px;

        &:before {
            content: '';
            border-left: 10px solid $kulisyRed;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            position: absolute;
            top: 0;
            right: -10px;
        }
    }

    .hot-topic-content {
        height: 42px;
        padding: 0 0 0 20px;
        line-height: 42px;
        position: relative;

        &:before {
            content: '';
            width: 11px;
            height: 42px;
            background: url(../images/icons.png) no-repeat -141px -32px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            width: 1px;
            height: 100%;
            background: #c3c7ca;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}