.top-menu {
    li {
        float: left;
        position: relative;

        + li {
            margin-left: 30px;

            &:before {
                content: '\2022';
                display: inline-block;
                color: #b8b8b8;
                font-size: 22px;
                line-height: 55px;
                position: absolute;
                left: -19px;
                top: 0;
            }
        }

        a {
            display: block;
            height: 55px;
            line-height: 57px;
            // padding: 13px 0 11px;
            color: $kulisyFadedBlack;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            text-transform: uppercase;
        }

        &.active {
            a {
                // padding: 13px 10px 11px;
                padding: 0 10px 0;
                background: $kulisyRed;
                color: #fff;
            }
        }
    }
}