body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

ul {
	margin: 0;
	padding: 0;
    list-style: none;
}

a {
    &:hover, &:link, &:visited {
        text-decoration: none;
    }
}

hr {
    margin: 0;
}